<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Product Reviewing System</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>

	<header>
		<nav>
			<a th:href="@{/home}">Home</a>
			<a th:href="@{/categories}">Categories</a>
		</nav>
	</header>

	<main>
		<h1>Welcome to our Product Reviewing System</h1>
		<p>Here you can browse and review a variety of products</p>
	</main>

	<footer>
		<p>Copyright © 2023 Product Reviewing System</p>
	</footer>

</body>

</html>